

body{
  font-family: 'Open Sans';
  padding: 0;
  

}

a{
  text-decoration: none;

}

header{
  padding: 1rem 0;
  a{
    color: gray;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 4rem 0;
    
  }

  .active{
    color: #0937e5;
    border-bottom: 5px solid #0937e5;
  }
}

.footer_top{
  background-image: url('/public/img/footer-bg.jpg');
  position: relative;
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  img{
    
    margin: -3.5rem 0;
    z-index: 1;
    
  }

  .links{
    h4{
      font-size: 1.2rem;
    }
    a{
      color: darkgray;
      font-size: 0.8rem;
    }
  }
  
}


.footer_bottom{
  background-color: #303030;
}